<h2>File Details</h2>
<dl class="dl-horizontal file-show-term file-show-details">
  <dt>Depositor</dt>
  <dd itemprop="accountablePerson" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><%= link_to_profile @presenter.depositor %></span></dd>
  <dt>Date Uploaded</dt>
  <dd itemprop="datePublished"><%== HyraxHelper.nbsp_or_value @presenter.date_uploaded %></dd>
  <dt>Date Modified</dt>
  <dd itemprop="dateModified"><%== HyraxHelper.nbsp_or_value @presenter.date_modified %></dd>
  <dt>File Size</dt>
  <dd><%== HyraxHelper.nbsp_or_value @presenter.file_size_readable %></dd>
  <dt>Checksum</dt>
  <dd><%== HyraxHelper.nbsp_or_value @presenter.original_checksum %></dd>
  <dt>Mime type</dt>
  <dd><%== HyraxHelper.nbsp_or_value @presenter.mime_type %></dd>
  <!-- dt><Checksum</dt>
  <dd>checksum</dd -->
</dl>