<% @wmon = (1..12).to_a.unshift('--') %>
<% @wday = (1..31).to_a.unshift('--') %>

<div class="form-group">

  <%= content_tag(:p, t('simple_form.labels.generic_work.date_coverage'), class: "text-bold") %>
  <%= content_tag(:p, t('simple_form.hints.generic_work.date_coverage'), class: "help-block") %>

  <div class="row">
    <div class="col-md-6">
      <div class="row">

        <fieldset>
          <div class="col-md-12">
            <%= content_tag(:legend, t('simple_form.labels.generic_work.date_coverage_start'), class: "legent-label") %>
          </div>

          <div class="col-md-4">
            <label for="date_coverage_1_year" data-label="Date">Year</label>
            <input type="text" id="date_coverage_1_year" name="date_coverage_1_year[]" class="form-control"></input>
          </div>

          <div class="col-md-3">
            <label for="date_coverage_1_month">Month</label>
            <%= select_tag :date_coverage_1_month, options_for_select(@wmon), { class: 'form-control'} %>
          </div>

          <div class="col-md-3">
            <label for="date_coverage_1_day">Day</label>
            <%= select_tag :date_coverage_1_day, options_for_select(@wday), { class: 'form-control'} %>
          </div>
        </fieldset>

      </div>
    </div>

    <div class="col-md-6 date-coverage-element">
      <%= button_tag( t('simple_form.actions.generic_work.add.coverage_end'), class: "btn btn-link date-reset", type: "button") %>
    </div>

    <div class="col-md-6 date-coverage-element date-coverage-end-date hidden">
      <div class="row">

        <fieldset>
          <div class="col-md-12">
            <%= content_tag(:legend, t('simple_form.labels.generic_work.date_coverage_end'), class: "legent-label") %>
          </div>

          <div class="col-md-4">
            <label for="date_coverage_2_year" data-label="Date">Year</label>
            <input type="text" id="date_coverage_2_year" name="date_coverage_2_year[]" class="form-control"></input>
          </div>

          <div class="col-md-3">
            <label for="date_coverage_2_month">Month</label>
            <%= select_tag :date_coverage_2_month, options_for_select(@wmon), { class: 'form-control'} %>
          </div>

          <div class="col-md-3">
            <label for="date_coverage_2_day">Day</label>
            <%= select_tag :date_coverage_2_day, options_for_select(@wday), { class: 'form-control'} %>
          </div>
        </fieldset>

      </div>
    </div>

    <div class="col-md-12 date-coverage-element hidden">
      <%= button_tag( t('simple_form.actions.generic_work.remove.coverage_end'), class: "btn btn-link date-reset", type: "button") %>
    </div>
  </div>

</div>


