</div>
<!--<% if respond_to?(:curation_concern) %>
 <p><label>
 <% if (curation_concern.visibility ==Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE && curation_concern.date_uploaded ==nil)%> 
  <%= check_box_tag 'isDraft', Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE, false %>  Save as Draft
  </div>
  <hr>
    <div class="primary-actions">
      <%= link_to t(:'helpers.action.cancel'), curation_concern.new_record? ? main_app.root_path : polymorphic_path([main_app, curation_concern]), class: 'btn btn-link' %>
       <%= f.submit 'Save Description & Upload Files', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "with_files_submit", name: "save_with_files" %>
    </div>

<% elsif (curation_concern.visibility==Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE) %>
   <%= check_box_tag 'isDraft', Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE, true %>   Save as Draft
   </div>
   <hr>
    <div class="primary-actions">
    <%= link_to t(:'helpers.action.cancel'), curation_concern.new_record? ? main_app.root_path : polymorphic_path([main_app, curation_concern]), class: 'btn btn-link' %>
      <%= f.submit 'Save as Draft', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "with_files_submit", name: "save_with_files" %>
    </div>

<% elsif (curation_concern.visibility !=Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC)%> 
   <%= check_box_tag 'isDraft', Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE, false %>   Save as Draft
    <hr>
    <div class="primary-actions">
     <%= link_to t(:'helpers.action.cancel'), curation_concern.new_record? ? main_app.root_path : polymorphic_path([main_app, curation_concern]), class: 'btn btn-link' %>
      <%= f.submit 'Save Description & Upload Files', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "with_files_submit", name: "save_with_files" %>
    </div>
<% else %>
    <hr>
    <div class="primary-actions">
    <%= link_to t(:'helpers.action.cancel'), curation_concern.new_record? ? main_app.root_path : polymorphic_path([main_app, curation_concern]), class: 'btn btn-link' %>
      <%= f.submit 'Save Description & Upload Files', class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "with_files_submit", name: "save_with_files" %>
    </div>
<% end %>
</label>
</p>
<% end %>-->

<%= render 'hyrax/file_sets/upload/terms_of_service' %>

<div class="data-buttons">
<%= hidden_field_tag(:isDraft, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC) %>

<% if current_ability.admin? %>
  <%= f.submit t('simple_form.actions.generic_work.save_metadata'),
               class: 'btn btn-default',
               onclick: "confirmation_needed = false; document.getElementById('isDraft').value = '#{Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE}';",
               id: "with_files_submit",
               name: "save_with_files" %>

  <%= f.submit t('simple_form.actions.generic_work.save_metadata_public'),
               class: 'btn btn-primary',
               onclick: "confirmation_needed = false; document.getElementById('isDraft').value = '#{Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC}';",
               id: "with_files_submit",
               name: "save_with_files" %>
<% else %>
  <%= f.submit t('simple_form.actions.generic_work.save_metadata'),
               class: 'btn btn-default',
               onclick: "confirmation_needed = false; document.getElementById('isDraft').value = '#{Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE}';",
               id: "with_files_submit",
               name: "save_with_files" %>
<% end %>

<br>
  <%= link_to t(:'helpers.action.cancel'),
              curation_concern.new_record? ? main_app.root_path : polymorphic_path([main_app, curation_concern]),
              class: 'btn btn-link cancel-btn' %>
</div>

