<h1 class="main-heading">Contact Us</h1>
<div class="alert alert-info">
  <%= render 'directions' %>
</div>

<% if user_signed_in? %>
  <% nm = '' %>
  <% em = current_user.user_key %>
<% else %>
  <% nm = '' %>
  <% em = '' %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <%= simple_form_for(@contact_form, url: sufia.contact_form_index_path, html: {class: 'form-horizontal'}) do |f| %>
        <%= f.text_field :contact_method, class: 'hide' %>

        <%= f.input :name, label: 'Your Name', required: true %>

        <% if user_signed_in? %>
        <%= f.input :email, as: :hidden, input_html: { value: em } %>
        <div class="form-group">
          <label class="control-label">Your Email</label>
          <p><%= em %></p>
        </div>
        <% else %>
        <%= f.input :email, label: 'Your Email', required: true %>
        <% end %>

        <%= f.input :category, label: 'What do you need help with?', collection: Umrdr::Application.config.contact_issue_types.dup, include_blank: true %>

        <%= f.input :subject, label: 'Subject', required: true %>
        <%= f.input :message, as: :text, label: 'Your Message', required: true, input_html: { rows: '4' } %>

        <div class="form-group pull-right">
          <%= f.submit value: "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
