  <%= @presenter.attribute_to_html(:methodology) %>


  <tr><th>Description</th><td><ul class='tabular'><li class="attribute description "><span itemprop="description" class="more"><%= @presenter.description[0] %></span></li></ul></td></tr>

  <%= @presenter.attribute_to_html(:creator,  catalog_search_link: true ) %>
  <%= @presenter.attribute_to_html(:contributor, label: 'Contributors', catalog_search_link: true) %>
  <%= @presenter.attribute_to_html(:subject, label: 'Discipline', catalog_search_link: true) %>
  <%= @presenter.attribute_to_html(:keyword, label: 'Keywords', catalog_search_link: true) %>
  <%= @presenter.attribute_to_html(:date_coverage) %>
  <%= @presenter.attribute_to_html(:isReferencedBy, label: 'Citation') %>
  <%= @presenter.attribute_to_html(:publisher) %>
  <%= @presenter.attribute_to_html(:language) %>
  <%= render partial: 'identifiers' %>
