  <% editor    = can?(:edit,    @presenter.id) %>
  <% if editor || @presenter.identifiers_minted?(:doi) %>
  <tr>
    <th><%= t('simple_form.labels.generic_work.doi') %></th>
    <td>
      <ul class="tabular">
        <li class="attribute">
          <% if @presenter.identifiers_minted?(:doi) %>
            <% status = @presenter.identifiers_pending?(:doi) ? 'warning' : 'default' %>
            <span class="label label-<%= status %>"><%= @presenter.doi %></span>
          <% else %>
            <%= form_tag(main_app.identifiers_curation_concerns_generic_work_path(@presenter.id), method: 'post') do %>
              <%= hidden_field_tag('generic_work[nop]') %>
              <%= submit_tag(t('simple_form.actions.generic_work.mint_doi'), class: 'btn btn-primary') %>
              <%= t('simple_form.warnings.generic_work.mint_doi') %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </td>
  </tr>
  <% end %>