<div class="form-actions">
  <% if Sufia.config.analytics %>
    <% # TODO remove this hideous hack, and correct behavior to respect url root in Sufia. %>
    <%= link_to "Analytics", main_app.root_path.chomp('/') + @presenter.stats_path, id: 'stats', class: 'btn btn-default' %>
  <% end %>
  <% if Sufia.config.citations %>
    <%= link_to "Citations", sufia.citations_work_path(@presenter), id: 'citations', class: 'btn btn-default' %>
  <% end %>
  
  <% if @presenter.editor? %>
      <% if @presenter.identifiers_minted?(:doi) && @presenter.solr_document.public? %>

        <%= link_to "Edit This #{@presenter.human_readable_type}", edit_polymorphic_path([main_app, @presenter]),  class: 'btn btn-default disabled' %>
        <%= link_to "Delete This #{@presenter.human_readable_type}", [main_app, @presenter], class: 'btn btn-danger disabled pull-right', data: { confirm: "Delete this #{@presenter.human_readable_type}?" }, method: :delete %>
          <p class="alert alert-info">Once a DOI is assigned you cannot edit or delete your work. <%= link_to "Contact us", "https://deepblue.lib.umich.edu/data/contact" %> with questions</p>
      <% else %>
        <%= link_to "Edit This #{@presenter.human_readable_type}", edit_polymorphic_path([main_app, @presenter]),  class: 'btn btn-default' %>
        <%= link_to "Delete This #{@presenter.human_readable_type}", [main_app, @presenter], class: 'btn btn-danger pull-right', data: { confirm: "Delete this #{@presenter.human_readable_type}?" }, method: :delete %>
      <% end %>
    <% end %>
    <% if @presenter.respond_to?(:display_feature_link?) && @presenter.display_feature_link? %>
        <%= link_to "Feature", sufia.featured_work_path(@presenter, format: :json),
            data: {behavior: 'feature'}, id: 'featureLink', name: 'featureLink', class: 'btn btn-default' %>
    <% end %>
    <% if @presenter.respond_to?(:display_unfeature_link?) && @presenter.display_unfeature_link? %>
        <%= link_to "Unfeature", sufia.featured_work_path(@presenter, format: :json),
            data: {behavior: 'unfeature'}, id: 'unfeatureLink', name: 'unfeatureLink', class: 'btn btn-default' %>
    <% end %>
  <!-- COinS hook for Zotero -->
    <span class="Z3988" title="<%= export_as_openurl_ctx_kev(@presenter) %>"></span>
    
</div>