<% presenter = featured.presenter %>
<li class="col-xs-12 col-sm-6 col-lg-4 featured-item" data-id="<%= presenter.id %>">
  <h3>
    <%= link_to truncate(presenter.title.first, length: 28, separator: ' '), curation_concerns_generic_work_path(presenter), class: 'btn btn-primary'  %>
  </h3>
  <%= render_thumbnail_tag presenter %>
  <div class="featured-work-info">

    <%
      keywords = link_to_facet_list(presenter.keyword, 'keyword', '')
    %>
    <% unless presenter.depositor.empty? %>
      <p><strong>Deposited by:</strong> <%= presenter.depositor('') %></p>
    <% end %>
    <% unless keywords.empty? %>
      <p><strong>Keywords:</strong> <%= keywords %></p>
    <% end %>
  </div>
</li>
