      <table class="table">
        <tr>
          <th><span class="attribute-label h4">Title:</span></th>
          <td><%= work.title %></td>
        </tr>
        <tr>
          <th><span class="attribute-label h4">Depositor:</span></th>
          <td><%= link_to_profile work.depositor("no depositor value") %></td>
        </tr>
        <tr>
          <th><span class="attribute-label h4">Contact Information:</span></th>
          <td><%= work.authoremail %></td>
        </tr>
        <tr>
          <th><span class="attribute-label h4">Funding Agency:</span></th>
          <td><%= work.fundedby %></th>
        </tr>
        <tr>
          <th><span class="attribute-label h4">ORSP Grant Number:</span></th>
          <td><%= work.grantnumber %></th>
        </tr>
        <tr>
          <th><span class="attribute-label h4">Creator:</span></th>
          <td><%= link_to_facet_list(work.creator, :creator) %></th>
        </tr>
        <tr>
          <th><span class="attribute-label h4">Description:</span></th>
          <td><%= iconify_auto_link(work.description) %></th>
        </tr>
        <% unless work.subject.blank? %>
        <tr>
          <th><span class="attribute-label h4">Discipline:</span></th>
          <td><%= link_to_facet_list(work.subject, :subject) %></th>
        </tr>
        <% end %>
        <% unless work.tag.blank? %>
        <tr>
          <th><span class="attribute-label h4">Keywords:</span></th>
          <td><%= link_to_facet_list(work.tag, :tag) %></th>
        </tr>
        <% end %>
        <tr>
          <th><span class="attribute-label h4">Date Uploaded:</span></th>
          <td><%= work.date_uploaded %></td>
        </tr>
        <tr>
          <th><span class="attribute-label h4">Deep Blue Handle:</span></th>
          <td><%= link_to_facet_list(work.isReferencedBy, :isReferencedBy ) %></td>
        </tr>
      </table>