<div class="form-actions">
  <% if Sufia.config.analytics %>
    <% # TODO remove this hideous hack, and correct behavior to respect url root in Sufia. %>
    <%= link_to "Analytics", main_app.root_path.chomp('/') + @presenter.stats_path, id: 'stats', class: 'btn btn-default' %>
  <% end %>
  <% if Sufia.config.citations %>
    <%= link_to "Citations", sufia.citations_work_path(@presenter), id: 'citations', class: 'btn btn-default' %>
  <% end %>

  <% if @presenter.editor? %>
      <% unless @presenter.parent_doi? %> 
         <%= link_to "Edit This #{@presenter.human_readable_type}", edit_polymorphic_path([main_app, @presenter]),
                     class: 'btn btn-default' %>
         <%= link_to "Delete This #{@presenter.human_readable_type}", [main_app, @presenter],
                     class: 'btn btn-danger', data: { confirm: "Delete this #{@presenter.human_readable_type}?" },
                     method: :delete %>
      <% end %>
      <%= link_to t('sufia.single_use_links.button'),
                  curation_concerns.generate_download_single_use_link_path(@presenter),
                  class: 'btn btn-default generate-single-use-link' %>

      <%= link_to "Versions", edit_polymorphic_path([main_app, @presenter], anchor: 'versioning_display'),
                  class: 'btn btn-default' %>

  <% end %>

</div>
