<h2>Help</h2>

<p>Deep Blue Data is a component of a suite of services provided by the UM Library designed to broadly disseminate the intellectual contributions in research, teaching and creativity made by the University of Michigan community and to ensure its longevity. We&apos;ll walk you through the simple steps of preparing, uploading and depositing your data.</p>

<ul class="help-directory">
  <li><a href="<%= static_path('about') %>">About Us</a></li>
  <li><a href="<%= static_path('prepare-your-data') %>">Prepare Your Data</a></li>
  <li><a href="<%= static_path('how-to-upload') %>">How to Upload</a></li>
  <li><a href="<%= static_path('file-format-preservation') %>">File Formats &amp; Preservation</a></li>
  <li><a href="<%= static_path('retention') %>">Retention</a></li>
  <li><a href="<%= static_path('support-for-depositors') %>">Support for Depositors</a></li>
  <li><a href="<%= static_path('use-downloaded-data') %>">Use Downloaded Data</a></li>
  <li><a href="<%= sufia.contact_path %>">Contact Us</a></li>
</ul>
