<% id = curation_concern.id %>
<% title = curation_concern.title.first %>
<p><%= title %> is currently downloading to Globus. If you would like to be sent an email when the files are available
  via Globus, please submit your email address: </p>
<%= form_tag(main_app.globus_add_email_hyrax_generic_work_path(@curation_concern.id), method: 'post') do %>
  <%= render partial: 'generic_works/globus_email_form_text_fields' %>
  <%= submit_tag(t('simple_form.actions.generic_work.globus_add_email'), class: 'btn btn-primary') %>
  <%= link_to t(:'helpers.action.cancel'), polymorphic_path([main_app, curation_concern]), class: 'btn btn-link cancel-btn' %>
<% end %>