<div id="masthead_controls" class="container-fluid">
  <div class="row ribbon-content">
    <div class="search-box-container">
      <%= render partial: 'catalog/search_form' %>
    </div>
  </div> <!-- /.row -->
</div><!-- /#masthead_controls -->
<% if user_signed_in? %>
  <nav class="dashboard-quick-links">
    <div class="ribbon-content">
      <div class="top-links">
        <% if can?(:create, Hyrax.primary_work_type) %>
        <% classification = Hyrax::QuickClassificationQuery.new(current_user) %>
          <%= link_to hyrax.dashboard_works_path, :class => 'view-works' +
                (current_page?(hyrax.dashboard_works_path) ? ' active' : '') do %>
              <%= t("hyrax.dashboard.view_works") %>
          <% end %>
        <% end %>
      </div>
      <div class="bottom-links">
        <%= link_to hyrax.dashboard_collections_path, :class => 'view-collections' +
              (current_page?(hyrax.dashboard_collections_path) ? ' active' : '') do %>
            <%= t("hyrax.dashboard.view_collections") %>
        <% end %>
        <%= link_to hyrax.dashboard_index_path, :class => 'view-dashboard' +
              (current_page?(hyrax.dashboard_index_path) ? ' active' : '') do %>
            <%= t("header.dashboard_link") %>
        <% end %>
      </div>
    </div>
  </nav>
<% end %>
