<div id="masthead_controls" class="container-fluid">
  <div class="row ribbon-content">
    <div class="col-xs-12 col-sm-6 pull-right">
      <%= render partial: 'catalog/search_form' %>
    </div>
    <div class="col-xs-12 col-sm-6 navbar-wrapper">
      <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
          <li <%= 'class=active' if current_page?(sufia.root_path) %>><a href="<%= sufia.root_path %>">Home</a></li>
          <li <%= 'class=active' if current_page?(sufia.about_path) %>><a href="<%= sufia.about_path %>">About</a></li>
          <li <%= 'class=active' if action_name == "help" %>><a href="<%= sufia.static_path('help') %>">Help</a></li>
          <li <%= 'class=active' if current_page?(sufia.contact_path) %>><a href="<%= sufia.contact_path %>">Contact</a></li>
        </ul><!-- /.nav -->
      </nav><!-- /.navbar -->
    </div>
  </div> <!-- /.row -->
</div><!-- /#masthead_controls -->
<% if user_signed_in? %>
  <nav class="dashboard-quick-links">
    <div class="ribbon-content">
      <div class="top-links">
        <% if can?(:create, Sufia.primary_work_type) %>
        <% classification = CurationConcerns::QuickClassificationQuery.new(current_user) %>
        <% classification.each do |concern| %>
          <%= link_to new_polymorphic_path([main_app, concern]), :class => 'create-work' +
              (current_page?(new_polymorphic_path([main_app, concern])) ? ' active' : '') do %> 
            <%= I18n.t("sufia.dashboard.create_work") %>
          <% end %>
         <% end %> 
          <%= link_to sufia.dashboard_works_path, :class => 'view-works' +
                (current_page?(sufia.dashboard_works_path) ? ' active' : '') do %>
              <%= t("sufia.dashboard.view_works") %>
          <% end %>
        <% end %>
      </div>
      <div class="bottom-links">
        <%= link_to sufia.dashboard_collections_path, :class => 'view-collections' +
              (current_page?(sufia.dashboard_collections_path) ? ' active' : '') do %>
            <%= t("sufia.dashboard.view_collections") %>
        <% end %>
        <%= link_to sufia.dashboard_index_path, :class => 'view-dashboard' +
              (current_page?(sufia.dashboard_index_path) ? ' active' : '') do %>
            <%= t("header.dashboard_link") %>
        <% end %>
      </div>
    </div>
  </nav>
<% end %>
