<div id="masthead_controls" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-6">
      <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
          <li <%= 'class=active' if current_page?(sufia.root_path) %>><a href="<%= sufia.root_path %>">Home</a></li>
          <li <%= 'class=active' if current_page?(sufia.about_path) %>><a href="<%= sufia.about_path %>">About</a></li>
          <li <%= 'class=active' if action_name == "help" %>><a href="<%= sufia.static_path('help') %>">Help</a></li>
          <li <%= 'class=active' if current_page?(sufia.contact_path) %>><a href="<%= sufia.contact_path %>">Contact</a></li>
        </ul><!-- /.nav -->
      </nav><!-- /.navbar -->
    </div>
    <div class="col-xs-12 col-sm-7 col-md-6">
      <%= render partial: 'catalog/search_form' %>
    </div>
  </div> <!-- /.row -->
</div><!-- /#masthead_controls -->
<% if user_signed_in? %>
  <div class="col-xs-12 dashboard-quick-links">
    <div class="top-links">
      <% if can?(:create, GenericWork) %>
        <%= link_to new_curation_concerns_generic_work_path, :class => 'create-work' do %>
          <%= I18n.t("sufia.dashboard.create_work") %>
        <% end %>
      <% end %>
      <%= link_to sufia.dashboard_collections_path, :id => "hydra-collection-view", :class => 'view-collections' do %>
          <%= t("sufia.dashboard.view_collections") %>
      <% end %>
    </div>
    <div class="bottom-links">
      <%= link_to sufia.dashboard_works_path, :class => 'view-works' do %>
          <%= t("sufia.dashboard.view_works") %>
      <% end %>
      <%= link_to sufia.dashboard_index_path, :class => 'view-dashboard' do %>
          <%= t("header.dashboard_link") %>
      <% end %>
    </div>
  </div>
<% end %>
