<footer>
  <div id="footer">
    <div class="ribbon-content">
      <ul>
        <li><a href="<%= hyrax.help_path('help') %>">Help</a></li>
        <li><a href="<%= hyrax.root_path %>" class="footer-link">Home</a></li>
  			<li><a href="<%= hyrax.agreement_path('agreement')  %> " class="footer-link">Policy &amp; Terms of Use</a></li>
        <li class="footer-right">Questions? Contact us <%= render partial: '/contact_us' %></li>
      </ul>
    </div>
  </div>
  <div class="ribbon-content">
    <p class="col-xs-6"><%= t('hyrax.footer.copyright_html') %></p>
    <p class="col-xs-6 col-md-6 align-right"><%= t('hyrax.footer.source_html') %></p>
  </div>
</footer>
