<footer>
  <div id="footer">
    <div class="ribbon-content text-left">
      <a href="<%= hyrax.help_path('help') %>">Help</a>
      <a href="<%= hyrax.root_path %>">Home</a>
			<a href="<%= hyrax.agreement_path('agreement')  %>">Policy &amp; Terms of Use</a>
    </div>
  </div>
  <div class="ribbon-content">
    <p class="col-xs-6"><%= t('hyrax.footer.copyright_html') %></p>
    <p class="col-xs-6 col-md-6 align-right"><%= t('hyrax.footer.source_html') %></p>
  </div>
</footer>
