<div>
  <nav role="navigation">
     <ul class="header-nav-list" >
          <li <%= 'class=active' if current_page?(hyrax.about_path) %>><a href="<%= hyrax.about_path %>" class="header-nav-links">About</a></li>
          <li <%= 'class=active' if action_name == "help" %>><a href="<%= hyrax.help_path('help') %>" class="header-nav-links">Help</a></li>
          <li <%= 'class=active' if current_page?(hyrax.contact_path) %>><a href="<%= hyrax.contact_path %>" class="header-nav-links">Contact</a></li>
          <li>
<% if user_signed_in? %>
    <div class="btn-group" id="user_utility_links">
      <%= link_to hyrax.dashboard_profile_path(current_user.to_param), class: "btn btn-default", id: "dashboard_link" do %>
        My Profile
      <% end %>
      <%= link_to main_app.destroy_user_session_path, class: "btn btn-default", id: "logout_nav_link" do %>
        Log Out
      <% end %>
    </div>
<% else %>
    <div class="btn-group login_button pull-right">
    <%= link_to raw('Login'), main_app.new_user_session_path, class: "btn btn-default btn-group" %>
    </div>
<% end %>
        </li>
    </nav>
</div>