<% provide :page_title, construct_page_title("#{@selected_tab.capitalize} listing") %>

<% content_for :head do %>
  <%= auto_discovery_link_tag(:rss, sufia.url_for(params.merge(format: 'rss')), title: "RSS for results") %>
  <%= auto_discovery_link_tag(:atom, sufia.url_for(params.merge(format: 'atom')), title: "Atom for results") %>
<% end %>

<%= javascript_tag do %>
  <%= render partial: 'scripts', formats: [:js] %>
<% end %>

<%= render 'search_header' %>

<%= render partial: 'document_list' %>

<% content_for :sidebar do %>
  <ul class="nav nav-tabs" id="my_nav" role="navigation">
    <li>
      <%= link_to t('sufia.dashboard.create_collection_html'), new_collection_path, id: "hydra-collection-add", class: "btn btn-primary" %>
    </li>

    <li>
      <%= link_to t('sufia.dashboard.my.highlights'), sufia.dashboard_highlights_path %>
    </li>

    <li>
      <%= link_to t('sufia.dashboard.my.shares'), sufia.dashboard_shares_path %>
    </li>
  </ul>

  <%= render 'facets', current_tab: @selected_tab %>
<% end %>

<%= render 'results_pagination' %>
