<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
  <head>
    <%= render partial: "layouts/head_tag_content"%>
  </head>

  <body>

    <div id="wrapper">
      <div id="page-positioner">
        <%= render partial: '/masthead' %>
        <%= render partial: '/controls' %>
        <div class="ribbon-content">
          <%= render partial: '/flash_msg' %>
        </div>

        <% if content_for?(:jumbo) %>
          <%= yield(:jumbo) %>
        <% end %>

        <div id="content-wrapper">
          <div id="content">
            <% if content_for?(:sidebar) %>
              <div class="col-xs-3">
                <%= yield(:sidebar) %>
              </div>
            <% end %>
            <div class="col-xs-<%= content_for?(:sidebar) ? 9 : 12 %>">
              <%= yield %>
            </div>
          </div>
        </div>
        <%= render partial: '/footer' %>
      </div>
    </div>

    <%= render 'shared/ajax_modal' %>

  </body>
</html>
