<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
  <head>
    <%= render partial: 'layouts/head_tag_content' %>
  </head>

  <body>
    <div id="wrapper">
      <div id="page-positioner">
        <a href="#skip_to_content" class="sr-only">Skip to Content</a>
        <%= render partial: '/masthead' %>
        <%= render partial: '/controls' %>
        <div class="ribbon-content">
          <%= render partial: '/flash_msg' %>
        </div>

        <div id="content-wrapper" class="dashboard" role="main">
          <a name="skip_to_content"></a>
          <div class="container-fluid">
            <div id="content-header" class="row"><%= yield :heading %></div>
          </div>
          <div class="container-fluid">
            <div id="content" class="row">
              <% if @selected_tab %>
                <h1 class="main-heading"><%= @selected_tab.capitalize %></h1>
              <% end %>

              <% sidebar_content = yield :sidebar %>

              <% unless sidebar_content.empty? %>
                <div id="sidebar" class="col-xs-12 col-md-3">
                  <%= sidebar_content %>
                </div>
              <% end %>

              <div class="col-xs-12 <%= sidebar_content.empty? ? '' : 'col-md-9' %>">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>

        <%= render partial: '/footer' %>

      </div>
    </div>

    <%= render 'shared/ajax_modal' %>
  </body>
</html>
