
<% if @presenter.box_link_display_for_work? %>
  <p><%= link_to t('simple_form.generic_work.box_link'), @presenter.box_link, class: 'btn btn-default', target: "_blank" %></p>
<% end %>

<% if @presenter.file_set_presenters.present? %>
<div class="panel panel-default related_files">
  <div class="panel-heading">
    <h2><%= @presenter.label_with_total_file_size( 'Files' ) %></h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>File</th>
        <th>Filename</th>
        <th>Date Uploaded</th>
        <th>File&nbsp;Size</th>
        <th>Access</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <%= render partial: 'member', collection: @presenter.member_presenters %>
    </tbody>
  </table>
</div>
  <% if Hyrax.config.download_files %><!-- && @presenter.file_set_presenters.length > 1 -->
    <%= form_tag(main_app.download_hyrax_generic_work_path(@presenter.id), method: 'post') do %>
      <%= hidden_field_tag('generic_work[nop]') %>
      <% if Umrdr::Application.config.max_work_file_size_to_download < @presenter.total_file_size %>
        <p><%= t('simple_form.generic_work.total_work_size_too_large_to_download') %></p>
      <% else %>
        <%= submit_tag( @presenter.label_with_total_file_size( t('simple_form.actions.generic_work.download') ), class: 'btn btn-primary') %>
        <% if Umrdr::Application.config.min_work_file_size_to_download_warn < @presenter.total_file_size %>
          <%= t('simple_form.generic_work.total_work_size_may_be_too_large_to_download') %>
        <% end %>
      <% end %>
    <% end %>
    <%= form_tag(main_app.globus_download_hyrax_generic_work_path(@presenter.id), method: 'post') do %>
      <p></p>
      <%= hidden_field_tag('generic_work[nop]') %>
      <% if Umrdr::Application.config.globus_enabled %>
        <% if @presenter.globus_files_available? %>
          <p><%= link_to t('simple_form.generic_work.globus_link'),
                         @presenter.globus_external_url,
                         class: 'btn btn-default',
                         target: "_blank",
                         title: "link to external globus files" %></p>
        <% elsif !@presenter.globus_files_prepping? %>
          <%= submit_tag(t('simple_form.actions.generic_work.globus_download'), class: 'btn btn-primary') %>
        <% end %>
      <% end %>
    <% end %>
    <%= form_tag(main_app.globus_clean_download_hyrax_generic_work_path(@presenter.id), method: 'delete') do %>
      <p></p>
      <%= hidden_field_tag('generic_work[nop]') %>
      <% if Umrdr::Application.config.globus_enabled && @presenter.current_ability.admin? %>
        <% if @presenter.globus_files_available? %>
          <%= submit_tag(t('simple_form.actions.generic_work.globus_clean_download'),
                         class: 'btn btn-primary',
                         data: { confirm: t('simple_form.confirm.generic_work.delete_all_globus_download_files') } ) %>
        <% end %>
      <% end %>
    <% end %>
    <%= form_tag(main_app.globus_download_add_email_hyrax_generic_work_path(@presenter.id), method: 'post') do %>
      <p></p>
      <%= hidden_field_tag('generic_work[nop]') %>
      <% if Umrdr::Application.config.globus_enabled %>
        <% if @presenter.globus_files_prepping? %>
          <%= t('simple_form.generic_work.globus_currently_downloading')
              submit_tag(t('simple_form.actions.generic_work.globus_download_add_email'), class: 'btn btn-primary') %>
        <% end %>
      <% end %>
      <p></p>
    <% end %>
    <p></p>
  <% end %>
<% elsif can? :edit, @presenter.id %>

<% if @presenter.tombstone.blank? %>
  <div class="panel panel-default related_files">
    <div class="panel-heading">
      <h2>Files</h2>
    </div>
    <div class="alert alert-block alert-warning">
      <p class="center">This <%= @presenter.human_readable_type %> has no files associated with it.</p>
    </div>
  </div>
<% end %>

<% end %>





