
<% if @presenter.file_set_presenters.present? %>
<div class="panel panel-default related_files">
  <div class="panel-heading">
    <h2><%= @presenter.label_with_total_file_size( 'Files' ) %></h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>File</th>
        <th>Filename</th>
        <th>Date Uploaded</th>
        <th>File&nbsp;Size</th>
        <th>Access</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <%= render partial: 'member', collection: @presenter.member_presenters %>
    </tbody>
  </table>
</div>
  <% if Hyrax.config.download_files %><!-- && @presenter.file_set_presenters.length > 1 -->
    <%= form_tag(main_app.download_hyrax_generic_work_path(@presenter.id), method: 'post') do %>
      <%= hidden_field_tag('generic_work[nop]') %>
      <% if Umrdr::Application.config.max_work_file_size_to_download < @presenter.total_file_size %>
        <p>Total work file size of <%= @presenter.total_file_size_human_readable %> is too large to download directly, please contact <a href="mailto:deepblue@umich.edu">deepblue@umich.edu</a> .</p>
      <% else %>
        <%= submit_tag( @presenter.label_with_total_file_size( t('simple_form.actions.generic_work.download') ), class: 'btn btn-primary') %>
        <% if Umrdr::Application.config.min_work_file_size_to_download_warn < @presenter.total_file_size %>
          &nbsp;&mdash;&nbsp;<span>Total file size of <%= @presenter.total_file_size_human_readable %> may be too large to download directly.</span>
        <% end %>
      <% end %>
    <% end %>
    <%= form_tag(main_app.globus_download_hyrax_generic_work_path(@presenter.id), method: 'post') do %>
      <p></p>
      <%= hidden_field_tag('generic_work[nop]') %>
      <% if Umrdr::Application.config.globus_enabled %>
        <% if @presenter.globus_files_available? %>
          <p>Files available on Globus: <a title="link to external globus files" href="<%=@presenter.globus_external_url%>" target="_blank">click here</a></p>
        <% elsif !@presenter.globus_files_prepping? %>
          <%= submit_tag(t('simple_form.actions.generic_work.globus_download'), class: 'btn btn-primary') %>
        <% end %>
      <% end %>
    <% end %>
    <%= form_tag(main_app.globus_download_add_email_hyrax_generic_work_path(@presenter.id), method: 'post') do %>
      <p></p>
      <%= hidden_field_tag('generic_work[nop]') %>
      <% if Umrdr::Application.config.globus_enabled %>
        <% if @presenter.globus_files_prepping? %>
          Globus is currently downloading files for this work...<br/>
          <%= submit_tag(t('simple_form.actions.generic_work.globus_download_add_email'), class: 'btn btn-primary') %>
        <% end %>
      <% end %>
      <p></p>
    <% end %>
    <p></p>
  <% end %>
<% elsif can? :edit, @presenter.id %>

<% if @presenter.tombstone.blank? %>
  <div class="panel panel-default related_files">
    <div class="panel-heading">
      <h2>Files</h2>
    </div>
    <div class="alert alert-block alert-warning">
      <p class="center">This <%= @presenter.human_readable_type %> has no files associated with it.</p>
    </div>
  </div>
<% end %>

<% end %>





