
<% if presenter.file_set_presenters.present? %>
<div class="panel panel-default related_files">
  <div class="panel-heading">
    <h2>Files</h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>File</th>
        <th>Filename</th>
        <th>Date Uploaded</th>
        <th>Access</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <%= render partial: 'member', collection: presenter.member_presenters %>
    </tbody>
  </table>
</div>
<% if Hyrax.config.download_files && presenter.file_set_presenters.length > 1 %>
  <%= form_tag(main_app.download_hyrax_generic_work_path(@presenter.id), method: 'post') do %>
    <%= hidden_field_tag('generic_work[nop]') %>
    <%= submit_tag(t('simple_form.actions.generic_work.download'), class: 'btn btn-primary') %>
    <%= submit_tag(t('simple_form.actions.generic_work.globus'), class: 'btn btn-primary') %>
  <% end %>
<p></p>
<% end %>
<% elsif can? :edit, presenter.id %>
<div class="panel panel-default related_files">
  <div class="panel-heading">
    <h2>Files</h2>
  </div>
  <div class="alert alert-block alert-warning">
    <p class="center">This <%= presenter.human_readable_type %> has no files associated with it. You can add one using the "Attach Files" buttons below.</p>
  </div>
</div>
<% end %>
