<div class="form-actions">
<% if @presenter.tombstone.blank? %>
  <% if Hyrax.config.analytics? %>
    <% # TODO remove this hideous hack, and correct behavior to respect url root in Hyrax. %>
    <%= link_to "Analytics", hyrax.stats_work_path(@presenter), id: 'stats', class: 'btn btn-default' %>
  <% end %>
  <% if Hyrax.config.citations? %>
    <%= link_to "Citations", hyrax.citations_work_path(@presenter), id: 'citations', class: 'btn btn-default' %>
  <% end %>
<% end %>  

<% if @presenter.tombstone.blank? && @presenter.current_ability.admin? %>
      <%= link_to "Edit Metadata", edit_polymorphic_path([main_app, @presenter]),  class: 'btn btn-default' %>
      <%= link_to "Delete This #{@presenter.human_readable_type}", [main_app, @presenter], class: 'btn btn-danger pull-right', data: { confirm: "Delete this #{@presenter.human_readable_type}?" }, method: :delete %>
<% elsif @presenter.tombstone.blank? && @presenter.editor? %>
      <% if @presenter.identifiers_minted?(:doi) && @presenter.solr_document.public? %>

        <%= link_to "Edit Metadata", edit_polymorphic_path([main_app, @presenter]),  class: 'btn btn-default disabled' %>
        <%= link_to "Delete This #{@presenter.human_readable_type}", [main_app, @presenter], class: 'btn btn-danger disabled pull-right', data: { confirm: "Delete this #{@presenter.human_readable_type}?" }, method: :delete %>
          <p class="alert alert-info">Once a DOI is assigned you cannot edit or delete your work. <%= link_to "Contact us", "https://deepblue.lib.umich.edu/data/contact" %> with questions</p>
      <% else %>
        <%= link_to "Edit Metadata", edit_polymorphic_path([main_app, @presenter]),  class: 'btn btn-default' %>
        <%= link_to "Delete This #{@presenter.human_readable_type}", [main_app, @presenter], class: 'btn btn-danger pull-right', data: { confirm: "Delete this #{@presenter.human_readable_type}?" }, method: :delete %>
      <% end %>
<% end %>
<% if @presenter.tombstone.blank? %>
    <% if @presenter.respond_to?(:display_feature_link?) && @presenter.display_feature_link? %>
        <%= link_to "Feature", hyrax.featured_work_path(@presenter, format: :json),
            data: {behavior: 'feature'}, id: 'featureLink', name: 'featureLink', class: 'btn btn-default' %>
    <% end %>
    <% if @presenter.respond_to?(:display_unfeature_link?) && @presenter.display_unfeature_link? %>
        <%= link_to "Unfeature", hyrax.featured_work_path(@presenter, format: :json),
            data: {behavior: 'unfeature'}, id: 'unfeatureLink', name: 'unfeatureLink', class: 'btn btn-default' %>
    <% end %>
  <!-- COinS hook for Zotero -->
    <span class="Z3988" title="<%= export_as_openurl_ctx_kev(@presenter) %>"></span>
   <% end %> 

<% if @presenter.tombstone.blank? && @presenter.current_ability.admin? %>
<p></p>
<div class="well">
<h2 class="well-title">Tombstone</h2>
  <div class="well-inner-wrapper">
<p>Reason for Tombstone:</p>
<select id="select-tombstone">
    <option value="Removed from view by legal order." selected>Removed from view by legal order.</option>
    <option value="Removed from view by the University.">Removed from view by the University.</option>
    <option value="Removed from view at request of the author.">Removed from view at request of the author.</option>
</select>

<%= link_to "Tombstone This #{@presenter.human_readable_type}", main_app.tombstone_hyrax_generic_work_path + "&tombstone=Removed from view by legal order.", class: 'tomb btn btn-danger pull-right', data: { confirm: "Tombstone this #{@presenter.human_readable_type}?" }, method: :delete %>
  </div>
</div>

<% end %>
</div>
<% if @presenter.editor? %>

<% if request.referrer.respond_to?('include?') %>
  <% if request.referrer.include? "generic_works" %>
    <div class="confirm-group">
    <%= form_tag(main_app.confirm_hyrax_generic_work_path(@presenter.id), method: 'post') do %>
      <%= hidden_field_tag('generic_work[nop]') %>
      <%= submit_tag(t('simple_form.actions.generic_work.confirm'), class: 'btn btn-primary confirm-btn') %>
    <% end %>
  <% end %>
<% end %> 
<% end %> 
</div>

