<div class="row">
  <div class="col-sm-12">
     <div class="position-page">
        <h2>Depositing Your Work is Easy</h2>
        <p>We'll walk you through the 3 simple steps!</p>
            <ul>
              <li>
              <img src="https://www.lib.umich.edu/falafel/v0/icons/grey_1/document.svg" alt="" width="100px">
              <p class="emphasis"><%= t('walkthrough.describe') %></p>
              <p><%= t('walkthrough.your_work') %></p>
              </li>
              <li>
              <img src="https://www.lib.umich.edu/falafel/v0/icons/grey_5/arrow_right_bold.svg" class="arrow" alt="" width="50px" >
              </li>
              <li>
              <img src="https://www.lib.umich.edu/falafel/v0/icons/grey_1/cloud_upload.svg" alt="" width="100px">
              <p class="emphasis"><%= t('walkthrough.upload') %></p>
              <p><%= t('walkthrough.your_files') %></p>
              </li>
              <li>
              <img src="https://www.lib.umich.edu/falafel/v0/icons/grey_5/arrow_right_bold.svg" class="arrow" alt="" width="50px" >
              </li>
              <li>
              <img src="https://www.lib.umich.edu/falafel/v0/icons/grey_1/check_circle.svg" alt="" width="100px">
              <p class="emphasis"><%= t('walkthrough.review') %></p>
              <p><%= t('walkthrough.your_work') %></p>
              </li>
            </ul>
      <div class="top-border">
          <p>Let's start by adding details about your work.</p>
           <%= button_tag t("hyrax.dashboard.describe_work").html_safe, type: :button,
                   onclick: "document.getElementById('generic_work_form_container').style.display='block';
                   document.getElementById('walkthrough_splash_container').style.display='none';",
                   class: "btn btn-primary", id: "contribute_link"%>
      </div>
    </div>
  </div>
</div>
